<div style="margin-left: 20%; margin-right: 20%; margin-bottom: 5%;">
    <img style="width: 80px; float: left; position: absolute;" src="https://www.kamk.fi/layouts/KAMK_2018/images/kamk-logo.png" />
    <h1 style="width: 100%; text-align: center;">Rock Paper Scissors</h1>
    <br><br><br>
    <h2>User Documentation</h2>

    <h3>Simple Server (1)</h3>
    This server works with UDP messages. If it receives a message at port 86.50.253.157:30000, it will return a random number to the clients's IP address and sending port +1 (a
    message sent from 127.0.0.1:1000 will cause the response to be sent to 127.0.0.1:1001).

    <h3>Advanced Server (M)</h3>
    <p>This server works with UDP messages, information is transmitted in csv-format. Every request is to be sent to 86.50.253.157:30010 and has to start with a valid message type
        (see below). The server will send information/confirmation messages about ongoing processes and errors if they occur. All messages are sent to the clients's IP address and
        sending port +1 (messages sent from 127.0.0.1:1000 will cause the server to send responses to 127.0.0.1:1001).</p>
    <table>
        <thead>
            <tr>
                <th>Abbreviations</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>C</td>
                <td>Client</td>
            </tr>
            <tr>
                <td>S</td>
                <td>Server</td>
            </tr>
            <tr>
                <td>t</td>
                <td>test msg</td>
            </tr>
            <tr>
                <td>r</td>
                <td>registration msg</td>
            </tr>
            <tr>
                <td>v</td>
                <td>validation msg</td>
            </tr>
            <tr>
                <td>p</td>
                <td>pairing msg</td>
            </tr>
            <tr>
                <td>m</td>
                <td>multipl. msg</td>
            </tr>
            <tr>
                <td>s</td>
                <td>singlepl. msg</td>
            </tr>
            <tr>
                <td>q</td>
                <td>query msg</td>
            </tr>
            <tr>
                <td>e</td>
                <td>error msg</td>
            </tr>
        </tbody>
    </table>
    <p>S replies with error messages if requests are invalid. These messages all follow the format <code>e[,X],Error text.</code>, where
        the optional parameter X is r, v, p ... depending on the client request which caused the
        error. Example error texts are &quot;Invalid login credentials.&quot; or &quot;Invalid pick.&quot;</p>
    <ul>
        <li>
            <p><strong>Connection Test</strong></p>
            <p>C can send <code>t</code> to S, which will reply with <code>t</code> as well. This is just a test message to
                confirm to the client that their server configuration is correct and not necessary to use the server.</p>
        </li>
        <li>
            <p><strong>Registration</strong></p>
            <p>If C connects for the very first time, they send <code>r,-1,password</code> to register at the server. S replies
                with <code>r,id</code>, so C knows their newly generated ID.</p>
        </li>
        <li>
            <p><strong>Singleplayer</strong></p>
            <p>C sends <code>s,id,pwd,pick[,numOfElements]</code> to play a singleplayer game. S then replies with <code>s,server-pick</code>.
                NumOfElements is an optional parameter that defines a custom number of elements that can be picked. This enables
                playing e.g. rps-lizard-spock.</p>
        </li>
        <li>
            <p><strong>Multiplayer</strong></p>
            <p>To pair with another player, C sends <code>p,id,password,friend-id[,numOfElements]</code> to S. NumOfElements is
                an optional parameter that defines a custom number of elements that can be picked. This enables playing e.g.
                rps-lizard-spock. For this to work, both players need to request the same number, otherwise they won&#39;t be
                paired.<br>
                For example, if C Alice sends <code>p,1,pwd,2</code>, S creates a connection between player 1 and 2. If then C
                Bob sends <code>P,2,pwd,1</code> within a given time frame (e.g. 10 minutes), S activates the connection. If
                either of them send a P-message requesting another connection (e.g. 1,3 or 2,3), the initial connection gets
                removed.<br>
                After a connection is activated, Alice or Bob can send a game-message. If Bob sends <code>m,2,pwd,0</code>, S
                saves Bob&#39;s pick (0). If Alice also sends a g-message withing a given time frame, S will store the game in
                the DB and send Bob&#39;s pick to Alice (<code>m,0</code>) and vice versa.
                Bob&#39;s and Alice&#39;s client implementations can now display who won the game.</p>
        </li>
        <li>
            <p><strong>Custom Games</strong></p>
            <p>It is possible to define a custom number of elements to play e.g. RPS-Lizard-Spock.<br>
                For a singleplayer game, C sends <code>s,id,pwd,pick,numOfElements</code>, which makes S adjust it&#39;s response
                accordingly.<br>
                For a multiplayer game, Alice needs to send <code>c,1,pwd,2,numOfElements</code> and Bob <code>c,2,pwd,1,numOfElements</code>.
                A connection is only established if the numbers are the same.</p>
        </li>
        <li>
            <p><strong>Data Queries</strong></p>
            <p>Lastly, C can send <code>q,id,pwd</code> to S, which then replies with one UDP message per game in which C
                participated.
                These responses are in the following format: <code>q,id1,id2,timestamp,c1pick,c2pick,numOfElements</code>, where
                id2 is -1 if it was a singleplayer game.</p>
        </li>
    </ul>


    <br>
    <h2>Code Documentation</h2>
    <p>RPSServerM consists of three main parts: The network part, the logic part and the database connection part. It
        should be able to handle around 200-500 requests per second, although this could probably be improved by
        the use of threads.</p>
    <p>The <strong>UDPReceiver</strong> listens to incoming UDP traffic. If it receives one, it will generate a new
        Message which consists of the MsgType, the content and source and destination information. The Receiver forwards
        the message to its message handler.
        This handler is an object of the class <strong>MessageHandlerImpl</strong> and routes the message to a specific
        handler, depending on the MsgT.</p>
    <h3 id="messagehandlers">MessageHandlers</h3>
    <ul>
        <li><strong>RegistrationHandler</strong> adds a new player to the database and returns the player ID.</li>
        <li><strong>ValidationHandler</strong> receives ID and password and returns a message to the client if the
            credentials are correct. This is not necessary to play the game, but it can be helpful to validate the
            player&#39;s information before letting the player play a game.
        </li>
        <li><strong>PairingHandler</strong> checks if another player has already requested pairing with the current
            player who sent the message. If so, the ClientPair gets activated and both players receive a message that
            they can start playing. If not, it creates a player pair and stores it until the second player also requests
            pairing.
        </li>
    </ul>
    <p><strong>NOTE</strong>: It is important to understand the difference between <strong>Client</strong> and <strong>Player</strong>.
        A player is a physical person playing games, represented through player ID and password. A client is a player
        who plays the game from one specific computer. It is defined through the player&#39;s credentials as well as the
        IP address and port from the computer the player is sitting in front of. A player can therefore play from
        different computers, which will be handled as different clients, but with the same player information.</p>
    <ul>
        <li><strong>MultiplayerHandler</strong> stores the pick from the player who plays first and sends a message to
            the other client from the pair to inform them that their parther has already submitted their sign. After the
            second player submits their sign as well, the handler stores the outcome in the database and sends messages
            to both clients to inform them about it.
        </li>
        <li><strong>SingleplayerHandler</strong> receives a pick from the client and returns a randomly picked number from within the number of elements. It stores the outcome of
            the game in the database, inserting -1 as the ID of player 2.
        </li>
        <li><strong>QueryHandler</strong> returns information about the games a player played in csv-format.</li>
        <li><strong>MessageHandlerAbstract</strong> consists of several shared functions that multiple MessageHandlers use frequently, mainly for validating input information.</li>
    </ul>
    <p><strong>UDPSender</strong> sends messages to the specified destinaton information. The message type is added at the front of the content, separated through a <code>,</code>.
        Error messages do not only contain the MsgT <code>e</code>, but also the original request MsgT. This can help the client software to display more helpful error messages,
        since the
        player can get informed what step produced a specific error.</p>
    <p><strong>ConnectionManager</strong> reads the database connection information from files and provides an active connection to the DAOs.</p>

    <br>
    <h2>Installation Instructions</h2>
    <p>The source code is available at <a href="https://gitlab.com/zehetner-kamk/rps" target="_blank">gitlab.com/zehetner-kamk/rps</a>.

    <h3>Detailed Instructions for cPouta</h3>
    <ul>
        <li>Go to Network > Security Groups. Create a new group that allows in- and outbound UDP and TCP traffic on, depending on the version, ports 30000-3009 or 30010-20019 as
            well as just TCP traffic on port 8080 and just inbound TCP traffic on port 22.</li>
        <li>Go to Compute > Key Pairs. Create a new key pair and download the .pem file.</li>
        <li>Go to Compute > Instances. Create a new instance with the following parameters:
            <ul>
                <li>Variant: Tiny (everything else is overkill)</li>
                <li>Boot Source: Image > smallest Ubuntu version available</li>
                <li>Key Pair: Your newly generated key pair</li>
                <li>Security Group: Your newly generated security group</li>
            </ul>
        </li>
        <li>Go Compute > Instances. Click on Actions > Assign Floating IP for your newly generated instance. Add an IP address.</li>
        <li>Go to the location of the downloaded public key (.pem file). Run <code>ssh ubuntu@<i>server-ip</i> -i serverkey.pem</code>. If the connection refuses, you may have to
            create another security group that allows outgoing traffic on all ports and all protocols and add that to the instance.</li>
        <li>Run <code>git clone https://gitlab.com/zehetner-kamk/rps.git && cd rps</code>.</li>
        <li>Run <code>./configure.sh</code> to configure the server. This should open a mysql interface. Paste the commands in create-insert into the command line to create the
            database.</li>
        <li>Run <code>./startServer.sh <i>argument</i></code>. The argument is either <code>1</code> or <code>M</code>, depending on the desired server version.</li>
    </ul>
    </p>

    <br>
    <div style=" font-size: small; text-align: center;">
        <img style="height: 10px; display: inline;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Copyleft.svg/1024px-Copyleft.svg.png" />
        <p style="display: inline"> Clemens Zehetner 2021</p>

    </div>
</div>